<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.livetv.LiveTvActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.movies.MoviesActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.movies.MovieDetailActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.series.SeriesActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.series.SeriesDetailActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.favorites.FavoritesActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
